# Segmenting and Clustering Neighborhoods in Toronto

### Importing Wikipedia Data

In [117]:
import pandas as pd
import os
import sys
import requests
from bs4 import BeautifulSoup

In [118]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

Importing data with BeautifulSoup

In [119]:
soup = BeautifulSoup(url, 'html5lib')
table = soup.find("table", {"class":"wikitable sortable"})
df = pd.read_html(str(table),header=0)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Renaming columns

In [120]:
df.rename(columns={'Postcode':'PostalCode','Neighbourhood':'Neighborhood'}, inplace=True)
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

Removing Not assigned Boroughs

In [121]:
df = df[df['Borough'] != 'Not assigned']
df.head(10)

   PostalCode           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M5A  Downtown Toronto       Regent Park
6         M6A        North York  Lawrence Heights
7         M6A        North York    Lawrence Manor
8         M7A      Queen's Park      Not assigned
10        M9A         Etobicoke  Islington Avenue
11        M1B       Scarborough             Rouge
12        M1B       Scarborough           Malvern

Assigning Borogh to Not assigned Neighboroods

In [122]:
df = df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

Remove index

In [123]:
df.set_index(['PostalCode'], inplace=True)
df.head(10)

                Borough                                     Neighborhood
PostalCode
M1B         Scarborough                                   Rouge, Malvern
M1C         Scarborough           Highland Creek, Rouge Hill, Port Union
M1E         Scarborough                Guildwood, Morningside, West Hill
M1G         Scarborough                                           Woburn
M1H         Scarborough                                        Cedarbrae
M1J         Scarborough                              Scarborough Village
M1K         Scarborough      East Birchmount Park, Ionview, Kennedy Park
M1L         Scarborough                  Clairlea, Golden Mile, Oakridge
M1M         Scarborough  Cliffcrest, Cliffside, Scarborough Village West
M1N         Scarborough                      Birch Cliff, Cliffside West

In [124]:
print("Dataset shape: {}".format(df.shape))

Dataset shape: (103, 2)

### Adding Longitude and Latitude Fields

Read in Geospatial Coordinates file

In [125]:
lat_lon_df = pd.read_csv('Geospatial_Coordinates.csv')

In [126]:
lat_lon_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Drop the index

In [127]:
lat_lon_df.set_index(['Postal Code'], inplace=True)
lat_lon_df.head(10)

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476
M1J          43.744734 -79.239476
M1K          43.727929 -79.262029
M1L          43.711112 -79.284577
M1M          43.716316 -79.239476
M1N          43.692657 -79.264848

Rename the Postal Code column to match the wikipedia datafram

In [128]:
lat_lon_df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
lat_lon_df.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [129]:
#code that showed lenght of postalcode field
#df['postcode_length'] = df['PostalCode'].apply(len)
#df.head(20)

In [130]:
#lat_lon_df['postcode_length'] = lat_lon_df['Postal Code'].apply(len)
#lat_lon_df.head(20)

Merge wikipedia and geospatial dataframes on index using join statement

In [131]:
df = df.join(lat_lon_df, how='outer')
df.head()

,Borough,Neighborhood,Latitude,Longitude
PostalCode,,,,
M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Reset index

In [132]:
df.reset_index(inplace = True)
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [133]:
print("Dataset shape: {}".format(df.shape))

Dataset shape: (103, 5)

### Cluster on Toronto

### Mapping Toronto Neighborhoods

Imprting libraries necessary

In [ ]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Accessing Foursquare with cleint credentials

In [1]:
# @hidden_cell
CLIENT_ID = 'IUNF1KTXENQJ5W2NP4T0IMMEQX1ROMVHTHHAKC5BRW05X42F' # your Foursquare ID
CLIENT_SECRET = '0YIYIVPQQ3GAY34TSHUHWPPFJPCV4FJLC03EJCCXIDFV3LQF' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
#print('Your credentails:')
#print('CLIENT_ID: ' + CLIENT_ID)
#print('CLIENT_SECRET:' + CLIENT_SECRET)

Establishing neighborhood to explore

In [ ]:
address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="toronto_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

Selecting certain boroughs to include in exploration

In [ ]:
selected_dataset = dataset1[dataset1['Borough'].str.contains('Toronto')].reset_index(drop = True)

Mapping neighborhood

In [ ]:
map_of_toronto = folium.Map(location = [latitude, longitude], zoom_start = 11)

for borough, neighborhood, latitude, longitude in zip(selected_dataset['Borough'], 
                                                      selected_dataset['Neighborhood'], 
                                                      selected_dataset['Latitude'], 
                                                      selected_dataset['Longitude']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html = True)
    folium.CircleMarker(
        [latitude, longitude],
        radius = 5,
        popup = label,
        color = 'green',
        fill = True,
        fill_color = '#3186cc',
        fill_opacity = 0.7,
        parse_html = False).add_to(map_of_toronto)  
    
map_of_toronto

NY example from LAB

In [ ]:
# create map of New York using latitude and longitude values
map_newyork = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(neighborhoods['Latitude'], neighborhoods['Longitude'], neighborhoods['Borough'], neighborhoods['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_newyork)  
    
map_newyork